@import "tailwindcss";

@keyframes markerAnimation {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -4px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

:root {
  --color-blue-text: #54c0e8;
  --color-secondary: #234a8e;
  --color-tertiary: #042256;
  --color-fourth: #00ffff;
  --color-fifth-border: #38568e;
}
.textArrivals {
  color: var(--color-fourth);
}

.icon-mark {
  animation: markerAnimation 1.5s ease-in-out infinite;
}

.containerMap path,
.containerMap polygon {
  fill: #4990c8;
  stroke: #4990c8;
}
.containerMap path,
.containerMap polygon {
  stroke: #20488a;
  stroke-width: 1;
  stroke-linejoin: round;
  /* stroke-opacity: 0.4; */
}
.bg-custom-gradient {
  background: linear-gradient(
    to right,
    rgba(4, 34, 86, 0.4) 5%,  
    rgba(35, 74, 142, 0.4) 30%,
    rgba(35, 74, 142, 0.4) 50%, 
    rgba(35, 74, 142, 0.4) 70%, 
    rgba(4, 34, 86, 0.4) 95%
  );
}


@keyframes gradientBorder2 {
  0% {
    background-position: -100% 0; 
  }
  100% {
    background-position: 100% 0; 
  }
}

@keyframes gradientBorder {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.card {
  position: relative;
  padding: 1rem;
  border: none;
  border-radius: 0.75rem;
}

.card::before {
  content: "";
  position: absolute;
  inset: -2px; 
  border-radius: 0.75rem;
  background: linear-gradient(
    90deg,
    rgba(35, 74, 142, 0.4), 
    rgba(255, 255, 255, 0.4), 
    rgba(35, 74, 142, 0.4)
  );
  background-size: 200% 100%;
  animation: gradientBorder 2s linear infinite;
  z-index: -1;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  padding: 2px;
}

.Loader,.segment-right, .segment-bottom, .segment-left , .segment-top{
  position: absolute;
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 50%;
}
.Loader{
  border: solid 1rem #007297;
}
.segment-right, .segment-bottom, .segment-left, .segment-top{
  border: solid 1rem transparent;
  border-right-color: aqua;
  animation: showBorder 1s linear ;
  animation-fill-mode: forwards;
  
}
.segment-right{
  border-right-color: transparent;
}
.segment-bottom{
  animation: turnBottom 1s ease-in-out ;
  animation-fill-mode: forwards;
}
.segment-left{
  animation: turnLeft 1s ease-in-out ;
  animation-fill-mode: forwards;
}
.calls-container .segment-top{
  animation: turnTop 1s ease-in-out ;
  animation-fill-mode: forwards;
}
.pax-container .segment-top{
  animation: turnTop2 1s ease-in-out ;
  animation-fill-mode: forwards;
}
@keyframes turnBottom{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes turnLeft{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(179deg);
  }
}
@keyframes turnTop{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(218deg);
  }
}
@keyframes turnTop2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(268deg);
  }
}
@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out forwards;
  }
}