---
import Map from "./Map";
import BgMap from "../assets/images/bg-map.jpg";
import Arrivals from "./Arrivals";
import Carousel from "./Carousel";
import Popup from "./Popup";
---

<div
  class="parent h-screen grid grid-rows-8 grid-cols-4 bg-cover bg-center"
  style={`background-image: url(${BgMap.src});`}
>
  <div class="map row-span-5 col-span-3 relative containerMap h-full w-full">
    <Map client:only />
    <Popup />
  </div>
  <div class="arrivals row-span-5 col-span-1 bg-red-500">
    <Arrivals client:only />
  </div>
  <div class="carousel row-span-3 col-span-4 bg-pink-500">
    <Carousel />
  </div>
</div>
