---
import Map from "./Map";
import Logo from "./Logo";
import Arrivals from "./Arrivals";
import Pax from "./Pax";
import Carousel from "./Carousel";
---

<div class="parent h-screen grid grid-rows-8 grid-cols-4">
  <div class="map bg-blue-400 row-span-5 col-span-3"><Map /></div>
  <div class="arrivals bg-blue-800 row-span-3 col-span-1"><Arrivals /></div>
  <div class="pax bg-orange-500 row-span-2 col-span-1"><Pax /></div>
  <div class="carousel bg-blue-800 row-span-5 col-span-3"><Carousel client:load /></div>
  <div class="logo bg-yellow-400 row-span-3 col-span-1"><Logo /></div>
</div>
