---
import Map from "./Map";
import Arrivals from "./Arrivals";
import Carousel from "./Carousel";
import Popup from "./Popup";
import StaticInfoMap from "./StaticInfoMap";

import { Image } from "astro:assets";

import BgMap from "../assets/images/bg-map.jpg";
import LogoITM from "../assets/images/logo-itm.svg";
import CubeAnimation from "./CubeAnimation";
---

<div
  class="parent containerMap h-screen grid grid-rows-8 grid-cols-16 bg-cover bg-center overflow-hidden"
  style={`background-image: url(${BgMap.src});`}
>
  <div class="map row-span-5 col-span-13 relative h-full w-full">
    <CubeAnimation client:only />
    <div class="absolute top-0 left-0 w-screen h-screen z--1">
  <Map client:only />
</div>

    <div
      class="hidden 3xl:flex absolute top-12 left-1/2 transform -translate-x-1/2"
    >
      <p
        class="text-white text-5xl uppercase font-bold text-center drop-shadow-[2px_2px_4px_#000000ab] pl-8"
      >
        FROM <span
          ><Image
            src={LogoITM}
            alt="Logo ITM Group"
            width={140}
            height={140}
            class="inline-block ml-2 mt-2.5"
          /></span
        > TO THE WORLD
      </p>
    </div>
    <div
      class="flex 3xl:hidden absolute top-12 left-1/2 transform -translate-x-1/2"
    >
      <p
        class="text-white text-5xl uppercase font-bold text-center drop-shadow-[2px_2px_4px_#000000ab] pl-8 whitespace-nowrap"
      >
        FROM&nbsp;
        <span class="inline-flex items-center">
          <Image
            src={LogoITM}
            alt="Logo ITM Group"
            width={140}
            height={140}
            class="inline-block ml-2 translate-y-5"
          />
        </span>
        &nbsp;TO&nbsp;THE&nbsp;WORLD
      </p>
    </div>
    <!-- <Map client:only /> -->
    <!-- <img src="public/images/MAPA.jpg" alt="" /> -->
    <StaticInfoMap client:only />
    <Popup client:only />
  </div>
  <div class="arrivals row-span-5 col-span-3 z-10 bg-transparent">
    <Arrivals client:only />
  </div>
  <div class="carousel row-span-3 col-span-16 bg-transparent z-10">
    <Carousel client:load />
  </div>
</div>
