---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Seatrade Mapa</title>
  </head>
  <body class="overflow-hidden">
    <slot />
    <!-- <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/seatrade/sw.js")
            .then((reg) => console.log("[SW] Registrado:", reg))
            .catch((err) => console.error("[SW] Error:", err));
        });
      }
    </script> -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
